<p>event works!</p>
<p (click)="minhafunc()">Click aqui</p>

<button (click)="somar()">SOMAR</button>

<button (click)="subtrair(1,2)">SUBTRAIR</button>

<button (click)="multiplicar()">MULTIPLICAR</button>

<button (click)="dividir()">DIVIDIR</button>

{{resultado}}
<br>

<img src="https://acarnequeomundoprefere.com.br/uploads/media/image/frimesa-receita-hamburguer-de-linguica-de-pernil-horizontal-alta.jpg" alt="" 
[width]="tamanho">
<br>
<button (click)="aumentar()">AUMENTAR</button>
<button (click)="diminuir()">DIMINUIR</button>